.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.ts
**/*.map
.git/**
*.vsix
build.sh
PROJECT_SUMMARY.md
CHECKLIST.md
TESTING_GUIDE.md
QUICKSTART.md
node_modules/**/.bin
node_modules/**/test
node_modules/**/tests
node_modules/**/*.md
node_modules/**/*.map
